.bg-wave-svg {
    background-image: url("assets/wave-haikei.svg");
    background-image: no-repeat;
    background-size: cover;
  }

  .bg-block-wave-svg {
    background-image: url("assets/block-wave-haikei.svg");
            background-image: no-repeat;
    background-size: cover;
  }